@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: 'Be Vietnam';
  --orange: #f3603c;
  --blue: #242d52;
  --black: #1d1e25;
  --light-orange: #fff0ec;
  --light-gray: #979797;
  --font: 'Be Vietnam';
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column,
.flex-column-mobile {
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--font);
  font-size: 1rem;
}

nav,
header,
footer {
  padding: 0 24px;
}

/* Background image */
.wrapper {
  margin: 0 auto;
  /* padding: 0 24px; */
  background-image: url(./images/bg-tablet-pattern.svg);
  background-position: left 65px top -125px, left 135px top 47%;
  /* left 135px top 47%; */
  background-size: 120%, 90%;
  background-repeat: no-repeat, no-repeat;
}

.header-img-mobile {
  width: 100%;
}

/* Navigation */
nav {
  margin: 0;
  padding-top: 45px;
  position: relative;
}

nav > .flex-row {
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.nav-logo {
  width: 110px;
  height: 18px;
}

/* Hamburger */
.hamburger {
  width: 25px;
  height: 18px;
}

/* Header */
header {
  margin-top: 48px;
  position: relative;
}

/* header::before {
  content: '';
  background-image: url('./images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 150px;
  left: 24px;
  width: 100%;
  height: 100%;
  z-index: 1;
} */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  color: var(--blue);
  letter-spacing: -1px;
  margin-bottom: 10px;
}

header div p {
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.5;
  text-align: center;
  line-height: 28px;
}

.btn-header-mobile {
  cursor: pointer;
  width: 137px;
  height: 44px;
  background: #f3603c;
  color: #fcf6f5;
  border: none;
  border-radius: 25px;
  font-size: 0.813rem;
  font-weight: 700;
  margin: 30px auto 80px auto;
  box-shadow: 0 4px 5px rgba(243, 96, 60, 0.5);
  justify-content: center;
}

button:hover {
  background: #f98f75;
}

/* Section */
section .flex-column-mobile h2 {
  font-size: 1.875rem;
  color: var(--blue);
  line-height: 45px;
  letter-spacing: -0.62px;
  text-align: center;
  margin: 0 20px 0 20px;
}

section .flex-column-mobile p,
.section-item-main p {
  font-size: 0.875rem;
  font-weight: 300;
  opacity: 0.5;
  text-align: center;
  line-height: 28px;
  margin: 10px 20px 50px 20px;
  letter-spacing: 0px;
}

.section-item-main p {
  margin: 10px 20px 50px 0px;
}

.number-btn {
  width: 67px;
  height: 45px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  background: var(--orange);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.section-item {
  position: relative;
  padding-left: 24px;
}

.section-item-top {
  /* position: relative; */
  /* left: 24px; */
  background: var(--light-orange);
  width: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  /* padding-left: 24px; */
  overflow-x: hidden;
}

.section-item-top p {
  display: inline-block;
  font-size: 1rem;
  color: var(--blue);
  font-weight: 700;
  align-self: center;
  margin-left: 10px;
  letter-spacing: -0.29px;
}

.section-item-main p {
  text-align: left;
}

/* Testimonials */
.testimonials h2 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--blue);
  line-height: 45px;
  letter-spacing: -0.66px;
  text-align: center;
  margin-bottom: 60px;
}

.testimonial-item {
  position: relative;
  /* min-width: 340px; */
  min-height: 248px;
  align-items: center;
  position: relative;
  background-color: #fafafa;
  margin: 0 24px;
  transition: background-color 0.5s ease-out;
}

.testimonial-item-clicked {
  background-color: red !important;
}

/* .scroll-bar {
  position: relative;
  min-width: 340px;
  min-height: 248px;
  display: flex;
  overflow-x: auto;
} */

/* .scroll-bar::webkit-scrollbar {
  width: 0;
} */

/* .scroll-bar .testimonial-item {
  min-width: 326px;
  min-height: 248px;
  align-items: center;
  position: relative;
  background: #fafafa;
  margin: 0 24px;
} */

/* .scroll-bar::before {
  content: '';
  background-image: url('/images/avatar-ali.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  position: absolute;
  top: -36px;
  z-index: 99;
  overflow-y: visible !important;
} */

.avatar-img {
  position: absolute;
  margin-top: -36px;
  width: 72px;
  height: 72px;
}

.testimonial-item :nth-child(2) {
  font-size: 1rem;
  color: var(--blue);
  letter-spacing: -0.29 px;
  margin: 60px 0 20px 0;
  font-weight: 700;
}

.testimonial-item :nth-child(3) {
  font-size: 0.875rem;
  color: var(--blue);
  opacity: 0.5;
  line-height: 26px;
  padding: 0 15px 30px 15px;
  font-weight: 400;
  align-content: center;
  text-align: center;
}

.radio-btns {
  justify-content: center;
  margin: 30px 12px 60px 0;
}

label {
  position: relative;
  cursor: pointer;
}

.checkbox-one,
.checkbox-two,
.checkbox-three,
.checkbox-four {
  opacity: 0;
  cursor: pointer;
  width: 12px;
  height: 12px;
}

input[type='checkbox'] ~ .checkmark-one,
input[type='checkbox'] ~ .checkmark-two,
input[type='checkbox'] ~ .checkmark-three,
input[type='checkbox'] ~ .checkmark-four {
  border: 1px solid var(--orange);
  border-radius: 50%;
}

.checkmark-one,
.checkmark-two,
.checkmark-three,
.checkmark-four {
  height: 12px;
  width: 12px;
}

.btn-section-mobile {
  cursor: pointer;
  width: 137px;
  height: 44px;
  background: var(--orange);
  color: #fcf6f5;
  border: none;
  border-radius: 25px;
  font-size: 0.813rem;
  font-weight: 700;
  box-shadow: 0 4px 5px rgba(243, 96, 60, 0.5);
  margin: 30px auto 80px auto;
  justify-content: center;
  align-items: center;
}

.btn-section-mobile-white {
  cursor: pointer;
  width: 137px;
  height: 44px;
  background: #ffffff;
  color: var(--orange);
  border: none;
  border-radius: 25px;
  font-size: 0.813rem;
  font-weight: 700;
  box-shadow: 0 4px 5px rgba(243, 96, 60, 0.5);
  margin: 30px auto 0 auto;
  justify-content: center;
}

.banner {
  background: var(--orange);
  height: 405px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1px;
  width: 85%;
}

form {
  padding-top: 50px;
  justify-content: center;
}

.email-btn {
  cursor: pointer;
  width: 80px;
  height: 44px;
  color: #ffffff;
  font-size: 0.813rem;
  border-radius: 25px;
  background: var(--orange);
  border: none;
  margin-left: 10px;
}

.email-btn:hover {
  background: #f98f75;
}

.email-input {
  width: 239px;
  height: 44px;
  background: #ffffff;
  border-radius: 25px;
  border: none;
  color: #8d8d8d;
  font-size: 0.813rem;
  font-weight: 200;
  letter-spacing: -0.1px;
  padding-left: 20px;
}

footer {
  background: var(--black);
}

.footer-ul {
  justify-content: space-around;
  margin-top: 10px;
}

footer ul li:first-child {
  padding-top: 40px;
}

footer ul li {
  color: #ffffff;
  list-style-type: none;
  font-weight: 200;
  font-size: 0.838rem;
  letter-spacing: -0.23px;
  padding-bottom: 10px;
}

.footer-icon-wrapper {
  justify-content: space-evenly;
}

.footer-icons {
  margin: 40px 0 40px 0;
  width: 32px;
  height: 32px;
}

.logo-wrapper {
  justify-content: center;
  margin: 20px 0 30px 0;
}

.logo-footer {
  width: 131px;
  height: 26px;
}

.copyright-text {
  display: block;
  font-size: 0.813rem;
  font-weight: 100;
  letter-spacing: -0.2px;
  line-height: auto;
  color: #8f8f93;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
